<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @player.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @player.lastname %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @player.nickname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @player.email %>
</p>

<p>
  <strong>Role:</strong>
  <%= @player.role %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @player.phone %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @player.gender %>
</p>

<p>
  <strong>Yes hash:</strong>
  <%= @player.yes_hash %>
</p>

<p>
  <strong>No hash:</strong>
  <%= @player.no_hash %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @player.password_digest %>
</p>

<p>
  <strong>Highround:</strong>
  <%= @player.highround %>
</p>

<p>
  <strong>Averageround:</strong>
  <%= @player.averageround %>
</p>

<p>
  <strong>Lowround:</strong>
  <%= @player.lowround %>
</p>

<p>
  <strong>Numnoshows:</strong>
  <%= @player.numnoshows %>
</p>

<p>
  <strong>Goal2:</strong>
  <%= @player.goal2 %>
</p>

<p>
  <strong>Goal7:</strong>
  <%= @player.goal7 %>
</p>

<p>
  <strong>Goal20:</strong>
  <%= @player.goal20 %>
</p>

<p>
  <strong>Hdcp2:</strong>
  <%= @player.hdcp2 %>
</p>

<p>
  <strong>Hdcp7:</strong>
  <%= @player.hdcp7 %>
</p>

<p>
  <strong>Hdcp20:</strong>
  <%= @player.hdcp20 %>
</p>

<p>
  <strong>Seasonprizemoney:</strong>
  <%= @player.seasonprizemoney %>
</p>

<p>
  <strong>Lifetimeprizemoney:</strong>
  <%= @player.lifetimeprizemoney %>
</p>

<p>
  <strong>Duespaid:</strong>
  <%= @player.duespaid %>
</p>

<p>
  <strong>Reminder:</strong>
  <%= @player.reminder %>
</p>

<p>
  <strong>Active:</strong>
  <%= @player.active %>
</p>

<p>
  <strong>Hashdcp:</strong>
  <%= @player.hashdcp %>
</p>

<p>
  <strong>Cangetemail:</strong>
  <%= @player.cangetemail %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
