<!DOCTYPE html>
<html>
  <head>
    <title>Non-Paymentech Golf League</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= link_to "Sign Up", new_player_path %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
